.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px dashed #5273a3c4;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}