* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*     background-color: #0D1117;
    color: #F0F6FC */
    ;
}

body {
    background-color: #0D1117;
}

h1 {
    color: #C9D1D9;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 60%;
}

.post {
    display: flex;
    padding: 5px 15px 15px 15px;
    color: #C9D1D9;
    background-color: #21262D;
    border: 1px solid rgba(240, 246, 252, 0.1);
    border-radius: 16px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__content {
    background-color: #21262D;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-1500px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 270ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-1500px);
    transition: all 270ms ease-in;
}

.page_wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #C9D1D9;
}

.page {
    margin: 0 5px;
    padding: 10px;
    border: 1px solid rgba(240, 246, 252, 0.1);
    border-radius: 8px;
    cursor: pointer;

}

.page_current {
    border: 1px solid #58A6FF;
}

.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #161B22;
}

.navbar__links {
    margin-left: auto;
}

.individual__post {
    color: #C9D1D9;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The king and his men stole the queen from her bed
And bound her in her bones
The seas be ours and by the powers
Where we will, we'll roam
Yo-ho, all together
Hoist the colors high
Heave ho, thieves and beggars
Never shall we die */